extends layout

block content
  .container
    h1 Viewing Application for #{name}
    ul#applications.list-unstyled
      li Name: #{name}
      li Bio: #{bio}
      li Skills: #{skills}
      li Years of Experience: #{years}
      li The "Why": #{why}

      a.btn.btn-danger.btn-xs(href="/delete/#{_id}") X Delete Application

